ignore
__pycache__/
*/__pycache__
test_results/
test_material/*.pickle
test_material/FBZ.png
optimiser/simulations.csv
optimiser/simulations.xlsx
*~$*
paper_plots.ipynb
kappa_plots.ipynb
.vscode
.pytest_cache
corr_0606.stl
corr_095095.stl
coned.stl
complex_plots.ipynb
set_env/install_log.txt
